# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
/public
.DS_Store

.vscode/
resume_draft.html
Razvan_Bibart_Resume.pdf
Razvan_Bibart_Resume.docx
generate_docx.py
resume-visual.pdf